<div class="card mb-3 col-lg-10 col-md-10 col-sm-12 ">
    <div class="row g-0">

      <div class="card" style="width: 17rem;">
        <img [src]='pokemoninfo.sprites.front_default'
             class="card-img-top" 
             alt="pokemon">
        <div class="card-body">
          <h5 class="card-title"> {{ pokemoninfo.name }}</h5>
        </div>
        <div class="card-body">
          <p>Types</p>
          <a *ngFor="let item of pokemoninfo.types"> {{ item.type.name }}</a>
        </div>
        <div class="card-body">
          <p> Abilities </p>
          <a *ngFor="let item of pokemoninfo.abilities"> {{ item.ability.name }}</a>
        </div>
      </div>
      
      
    </div>
</div>

